@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .separator::after {
    content: "";
    display: block;
    width: 1px;
    height: 2.5rem;
    background-color: theme("colors.separator");
    opacity: 0.7;
    margin: 0 8px;
    padding: 0;
  }

  .separator-before::before {
    content: "";
    display: block;
    width: 1px;
    height: 2.5rem;
    background-color: theme("colors.separator");
    opacity: 0.7;
    margin: 0 8px;
  }

  .horizontal-separator::after {
    content: "";
    display: block;
    width: full;
    height: 1px;
    background-color: theme("colors.primary1");
    opacity: 0.5;
    margin: 10px 0;
    padding: 0;
  }

  .box-shadow {
    box-shadow: 0px 5px 1px 2px rgba(255, 255, 255, 0.1);
  }
  .overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 0.3s;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .overlay.active::before {
    transform: translateX(0);
  }
  .off-canvas-menu {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .off-canvas-menu.show {
    transform: translateX(0);
  }

  .header__sticky.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Ensure it stays on top */
  }

  .input-control {
    background: transparent;
    width: 100%;
    height: 50px;
    border: 2px solid #eaf2f5;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    padding: 6px 12px;
    transition: transform 0.3s ease-in-out;
  }
  .input-control:focus {
    border-color: #ff5e14;
  }

  .underline-style {
    @apply before:absolute before:content-[''] before:bg-[#ff5e14] before:w-[60px] before:h-[4px] before:rounded-[5px] before:left-0 before:bottom-0 after:absolute after:content-[''] after:bg-[#ff5e14] after:rounded-[5px] after:w-[15px] after:h-[4px] after:left-[65px] after:bottom-0;
  }

  /* Back to top css */
  #scroll__top.active {
    @apply visible opacity-100 translate-y-0;
  }
}
